name: Build Runner Image

on: 
  workflow_dispatch:
    inputs:
      github-runner-version:
        description: 'Version on github runner(in https://github.com/actions/runner), e.g: 2.290.0'
        required: true
        default: '2.290.0'

jobs:
  build-arm64-version:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      
      - name: Login to GitHub Container Registry
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: knatnetwork
          password: ${{ secrets.GITHUB_TOKEN }}
    
      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: knatnetwork
          password: ${{ secrets.DOCKERHUB_PASSWD }}

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v2

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Cache Docker layers
        uses: actions/cache@v3
        with:
          path: /tmp/.buildx-cache
          key: ${{ runner.os }}-buildx-arm64-${{ github.sha }}
          restore-keys: |
            ${{ runner.os }}-buildx-arm64

      - name: Build and push ARM64 Version
        uses: docker/build-push-action@v3
        with:
          context: ./arm64/
          file: ./arm64/Dockerfile
          platforms: linux/arm64
          push: true
          build-args: GITHUB_RUNNER_VERSION=${{ github.event.inputs.github-runner-version }}
          tags: |
            ghcr.io/knatnetwork/github-runner-arm64:focal-${{ github.event.inputs.github-runner-version }}
            knatnetwork/github-runner-arm64:focal-${{ github.event.inputs.github-runner-version }}

          cache-from: type=local,src=/tmp/.buildx-cache
          cache-to: type=local,dest=/tmp/.buildx-cache-new,mode=max
          
      - name: Move cache
        run: |
          rm -rf /tmp/.buildx-cache
          mv /tmp/.buildx-cache-new /tmp/.buildx-cache

  build-amd64-version:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      
      - name: Login to GitHub Container Registry
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: knatnetwork
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: knatnetwork
          password: ${{ secrets.DOCKERHUB_PASSWD }}

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v2

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2
          
      - name: Cache Docker layers
        uses: actions/cache@v3
        with:
          path: /tmp/.buildx-cache
          key: ${{ runner.os }}-buildx-amd64-${{ github.sha }}
          restore-keys: |
            ${{ runner.os }}-buildx-amd64

      - name: Build and push AMD64 Version
        uses: docker/build-push-action@v3
        with:
          context: ./amd64/
          file: ./amd64/Dockerfile
          platforms: linux/amd64
          push: true
          build-args: GITHUB_RUNNER_VERSION=${{ github.event.inputs.github-runner-version }}
          tags: |
            ghcr.io/knatnetwork/github-runner-amd64:focal-${{ github.event.inputs.github-runner-version }}
            knatnetwork/github-runner-amd64:focal-${{ github.event.inputs.github-runner-version }}
            
          cache-from: type=local,src=/tmp/.buildx-cache
          cache-to: type=local,dest=/tmp/.buildx-cache-new,mode=max

      - name: Move cache
        run: |
          rm -rf /tmp/.buildx-cache
          mv /tmp/.buildx-cache-new /tmp/.buildx-cache
  
  combine-two-images:
    runs-on: ubuntu-latest
    needs:
      - build-arm64-version
      - build-amd64-version
    steps:
      - name: Login to GitHub Container Registry
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: knatnetwork
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: knatnetwork
          password: ${{ secrets.DOCKERHUB_PASSWD }}
      
      - name: Combine two images
        run: |
          docker manifest create knatnetwork/github-runner:focal-${{ github.event.inputs.github-runner-version }} --amend knatnetwork/github-runner-amd64:focal-${{ github.event.inputs.github-runner-version }} --amend knatnetwork/github-runner-arm64:focal-${{ github.event.inputs.github-runner-version }}
          docker manifest create ghcr.io/knatnetwork/github-runner:focal-${{ github.event.inputs.github-runner-version }} --amend ghcr.io/knatnetwork/github-runner-amd64:focal-${{ github.event.inputs.github-runner-version }} --amend ghcr.io/knatnetwork/github-runner-arm64:focal-${{ github.event.inputs.github-runner-version }}

          docker manifest push knatnetwork/github-runner:focal-${{ github.event.inputs.github-runner-version }}
          docker manifest push ghcr.io/knatnetwork/github-runner:focal-${{ github.event.inputs.github-runner-version }}